.step-content {
  color: #666666;
  /* font-size: 14px !important; */
  /* text-align: center; */
}
@media (min-width: 500px) {
  .step-content {
    font-size: 2.75vw !important;
  }
}

@media (min-width: 600px) {
  .step-content {
    font-size: 2.5vw !important;
  }
}

@media (min-width: 900px) {
  .step-content {
    font-size: 1.5vw !important;
  }
}

@media (min-width: 1200px) {
  .step-content {
    font-size: 1vw !important;
  }
}
