.eclipse42 {
    position: absolute;
    top: -84px;
    right: 0;
    width: 738.641px;
    /* left: 674px; */
}

.eclipse43 {
    position: absolute;
    top: -54px;
    right: 0;
    width: 717.938px;
    /* left: 716px; */
}

.greicyHome {
    position: absolute;
    right: 151px;
    width: 268px;
    top: 50px;
}

.logoHome {
    width: 146px;
    margin-left: 90px;
}